nav {
  width: 100%;
  /* background: #000000; */
  color: rgb(107, 103, 103);
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  z-index: 10;
}

/* .logo {
  width: 40px;
} */

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 18px;
  margin-left: 30px;
  /* background: transparent; */
  /* padding-bottom: 50px; */

  /* background: #edede7;
  color: #d44949;
  padding: 14px 25px;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0; */
}
nav h1 {
  margin-left: 10px;
  font-size: medium;
  color: #e88317;
}
.logo1 {
  background: transparent;
  /* background: rgb(253, 246, 246); */
  margin-top: 10px;
  /* padding-top: 30px; */
}
*/ .dark-nav {
  background: #a06321;
  transition: 0.5s;
}

.menu {
  display: none;
  width: 20px;
  /* cursor: pointer; */
}
/* Media Query */

@media (max-width: 1000px) {
  .logo1 {
    width: 140px;
  }
  nav ul li {
    margin: 10px 15px;
  }
}
@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2c2d38;
    z-index: -1;
    width: 200px;
    padding-top: 60px;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }
  .menu {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -200px;
  }
}
